body
	background-color: #efefef

i
	cursor: pointer

hr
	border-top: 1px solid #ccc
	margin: 0 0 15px

.form-horizontal
	margin: 10px 0 5px 0

.controls select
	margin-right: 5px

.help-block
	margin-right: 20px

#button-view
	margin: 0 15px
	text-align: center
